extends layout

block content
    article
        header
            h1= title

        section
            //- This form will send the data via POST to our post route defined in /routes/branches.js
            form(action="/branches", method="post")
                fieldset
                    legend Branch Details
                    dl
                        dt
                            label(for="brcity") City
                        dd
                            input(type="text", id="brcity", name="city", placeholder="Branch location")
                        dt
                            label(for="brlat") Geo latitude
                        dd
                            input(type="text", id="brlat", name="latitude")
                        dt
                            label(for="brlong") Geo longitude
                        dd
                            input(type="text", id="brlong", name="longitude")
                fieldset#actions
                    button(type="submit") Add branch
