extends layout

block content
    article
        header
            h1= title

        section
            //- This form will send the data via POST to our post route defined in /routes/employees.js
            form(action="/employees", method="post")
                fieldset
                    legend Employee Details
                    dl
                        dt
                            label(for="empname") Name
                        dd
                            input(type="text", id="empname", name="name", placeholder="Name")
                        dt
                            label(for="empemail") Email
                        dd
                            input(type="email", id="empemail", name="email", placeholder="name@example.com")
                        dt
                            label(for="emphire") Hire Date
                        dd
                            input(type="date", id="emphire", name="hire_date", placeholder="dd/mm/yyyy")
                        dt
                            label(for="empavatar") Picture
                        dd
                            input(type="file", id="empavatar", name="avatar")
                fieldset
                    legend Work Details
                    dl
                        dt
                            label(for="empname") Branch
                        dd
                            select(name="branch_id")
                                option(value="B001") Rotterdam
                                option(value="B002") Madrid
                                option(value="B003") M&uuml;nich
                        dt
                            label(for="empmanager") Is branch manager?
                        dd
                            input(type="checkbox", id="empmanager", name="is_manager")
                fieldset#actions
                    button(type="submit") Add employee
