extends layout
//- All pages that extend the default layout will use the same resources

block content
    //- Everything below will be inserted instead of the placeholder in layout.jade
    article
        header
            h1= title

        section
            p Please read README.md for installation details and API.md for available API endpoints
