doctype html
html
    head
        //- Render the title variable inside the <title> tag
        title= title

        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,500,500italic')
        link(rel='stylesheet', href='/stylesheets/style.css')
        //- All public files, like images and stylesheets, must be placed in the public folder,
        //- and will be available directly in the web app root, ie http://localhost:3000/stylesheets/style.css
        //- See app.js for details about the public folder
    body
        //- The row below will be replace by every page's content
        block content
