body {
  padding: 5vh 5vw;
  font-family: Roboto, Arial, sans-serif;
  font-size: 100%;
  font-weight: 200;
  background: transparent url('/images/bg.png') center center;
  background-size: cover;
  color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

h1, h2, a {
    color: rgb(255, 242, 0);
}

a:hover {
    color: rgb(238, 220, 0);
}

label:hover, button:hover {
    cursor: pointer;
}

legend {
    color: rgb(255, 242, 0);
}

h1, h2 {
    font-weight: 500;
}

article {
    background: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 5vh 5vw;
    width: 55%;
    margin: 0 auto;
}

article header h1 {
    margin: 0 0 1em;
    font-size: 2.5em;
}

section form fieldset {
    border: 1px solid rgb(150, 150, 150);
    margin: 0 0 1em;
}

section form fieldset dl {
    width: 100%;
    display: table;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

section form fieldset dl dt,
section form fieldset dl dd {
    align-self: auto;
    margin: 0 0 1em;
}

section form fieldset dl dt {
    flex: 0 1 30%;
    text-align: right;
    padding: 0.5em 1em;
}

section form fieldset dl dd {
    flex: 0 1 70%;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="file"],
select {
    width: 100%;
    padding: 0.5em;
    font-family: Roboto, Arial, sans-serif;
}

input[type="checkbox"] {
    margin: 0.75em 0 0;
}

#actions {
    border: none;
    text-align: right;
}

#actions button {
    border: none;
    background: rgb(255, 242, 0);
    color: rgb(0, 0, 0);
    padding: 0.5em 1em;
    border-box: 5px;
}

#actions button:hover {
    cursor: pointer;
    background: rgb(238, 220, 0);
}
